---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

body {
    max-width: 1280px;
    margin-left: auto;
    margin-right: auto;
}

.mainheading {
    @extend .page__title;
    font-family: Georgia, 'Times New Roman', Times, serif !important; 
    font-weight: normal !important;
    font-size: 5vw 10vmax !important;
    text-shadow: 2px 2px 8px rgba(#000, 0.5) !important;
    text-transform: uppercase;
    text-align: right;
    padding-right: 1rem;
    white-space: nowrap;
    max-width: 1180px;
}

.subheading {
    font-family: $global-font-family;
    font-size: 6vw 1vmin !important;
    color: #fff;
    text-shadow: 1px 1px 4px rgba(#000, 0.5);
    padding-left: 15rem;
    padding-right: 1rem;
    text-align: right;
    max-width: 11800px;
}

.site-title {
    color: #fff !important;
    font-family: Georgia, 'Times New Roman', Times, serif !important; 
    font-weight: normal !important;
    text-shadow: 2px 2px 8px rgba(#000, 0.5) !important;
/*    padding-left: 77px;
    padding-right: 20px;
    padding-top: 25px;
    padding-bottom: 25px;
    background-image: url(/assets/images/wct_banner_base-h500-no-text.png);
    background-repeat: no-repeat;
    background-size: cover; */
}

img[src*="#greylogo"] {
    height: 64px;
}

.dropdown {
    opacity: 0;
    position: absolute;
    width: 300px;
    z-index: 2;
    
    display: flex;
    align-items: center;
    justify-content: space-around;
    overflow: visible;
   
    transform: translateX(-40%);
    transition: opacity .15s ease-out;
}

.dropdown-item a {
    width: 100%;
    height: 100%;
}

.has-dropdown:focus-within .dropdown   {
    opacity: 3;
    pointer-events: visible;
}
