---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

.mainheading {
    @extend .page__title;
    font-family: Georgia, 'Times New Roman', Times, serif !important; 
    font-weight: normal !important;
    font-size: 5vw !important;
    text-shadow: 2px 2px 8px rgba(#000, 0.5) !important;
    text-transform: uppercase;
    text-align: right;
    padding-left: 24vw;
    padding-right: 5vw;
    white-space: nowrap;
    overflow: hidden;;
}

.subheading {
    font-family: $global-font-family;
    font-size: 6vw 1vmin !important;
    color: #fff;
    text-shadow: 1px 1px 4px rgba(#000, 0.5);
    padding-left: 28vw;
    padding-right: 5vw;
    text-align: right;
}